.input-container {
    position: relative;
  }
  
  [data-id='inputFound'] {
    padding-left: 40px;
    border-radius: 10px;
    border: 3px solid rgb(117, 102, 102);
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent clicking on the magnifying glass from interfering with the input */
  }
  